<plugin name='flex-scaffold' version='0.2.3' grailsVersion='1.1 &gt; *'>
  <author>Ezequiel Martin Apfel</author>
  <authorEmail>eapfel@cubika.com</authorEmail>
  <title>Grails Flex Scaffold (GFS)</title>
  <description>        Grails Flex Scaffold (GFS) is a plugin that deals Flex code generation by
        scaffolding methodology, including support for presentation and service (integration with BlazeDS)
        layers by providing embeded data in your domain classes as original Grails Scaffolding does with Ajax and HTML</description>
  <documentation>http://docs.codehaus.org/display/GFS/Grails+Flex+Scaffold</documentation>
  <resources>
    <resource>GrailsFlexScaffoldFilters</resource>
    <resource>UrlMappings</resource>
    <resource>spring.resources</resource>
    <resource>FileUploadController</resource>
  </resources>
  <dependencies>
    <plugin name='starkSecurity' version='0.4.3' />
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
    </resolvers>
  </dependencies>
  <behavior />
</plugin>